.Home {
    text-align: center;
    color: white;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

.game-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.play-button {
    font-size: 1.15em;
    flex-grow: 9;
    height: 3em;
    margin-bottom: 2em;
}

.option-button {
    font-size: 1.15em;
    flex-grow: 1;
    height: 3em;
    margin-bottom: 2em;
}