#version-label {
    position: fixed;
    top: 0;
    right: 0;
    color: gray;
    font-size: 10px;
}

#version-state {
    position: fixed;
    top: 0.25em;
    left: 0.25em;
}

.Home {
    text-align: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

.game-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.play-button {
    font-size: 1.15em;
    flex-grow: 9;
    height: 3em;
    margin-bottom: 2em;
}

.option-button {
    font-size: 1.15em;
    flex-grow: 1;
    height: 3em;
    margin-bottom: 2em;
}