.animated-border {
    outline-width: 2px;
    outline-color: white;
    outline-style: solid;
    animation: animateOutline 2.5s linear infinite;
}

@keyframes animateOutline {
    0% {
        outline-width: 2px;
        outline-color: white;
    }

    25% {
        outline-width: 4px;
        outline-color: darkorange;
    }

    50% {
        outline-width: 8px;
        outline-color: #3498db;
    }

    75% {
        outline-width: 4px;
        outline-color: darkorange;
    }
}